# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.mw
*.acn
*.acr
*.alg
*.glo
*.gls
*.glg
*.ist
*.idx
*.ind
*.xmpdata
*.xmpi
*.fdb_latexmk
*.fls
main.pdf
# chapter extracts pulled out of main.pdf for reading
Chapter*_*.pdf
*.ilg
main.tdo
*.tdo
